/ctGateway/.vs
/ctGateway/ctGateway.vcxproj.user
/ManageTools/ManageTools/bin
/ManageTools/ManageTools/obj
/ManageTools/ManageTools/ManageTools.csproj.user
/ManageTools/.vs
/ManageTools/ServerDemon/ServerDemon.csproj.user
/ManageTools/ServerDemon/bin
/ManageTools/ServerDemon/obj
